.blue-lb-gradient {
    background: linear-gradient(45deg, #0000f4 0%, #06daff 100%);
    border-radius: 13px;
    animation : gradient 25s ease infinite;
}

@keyframes gradient {
  0% {
      background-position: 0% 50%;
  }
  50% {
      background-position: 100% 50%;
  }
  100% {
      background-position: 0% 50%;
  }
}