.footer {
    background-color: #969696;
    font-size: small;
    font-family: 'Raleway', sans-serif;
    font-weight: bold;
    display: flex;
    justify-content: space-between;
    align-items: center;
    //    border-radius: 13px;
//    margin-right: auto;
    
}

.footer h3{
    font-size: large;
    margin-left: 20px;
    font-family: 'Raleway', sans-serif;
    font-style: normal;
    font-weight: 600;;
}

.footer-links {
    display:flex;
}

.footer-links li{
    padding: 10px 20px;
}

.footer-links a:hover{
    color:white;
}

.large-text {
    font-size: large;
}