.center {
    text-align: center;
    display: block;
    margin-left: auto;
    margin-right: auto 
}

body {
    background-color: rgb(208, 238, 204);
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}
