@import './colorScheme.scss';

body {
    background: $theme-white;
};

@media (prefers-color-scheme: dark) {
    body {
        background: $theme-black !important;
        color: $theme-white !important;
    }
}