@import './colorScheme.scss';

body {
    background-color: $theme-white;
};

@media (prefers-color-scheme: dark) {
    body {
        background-color: $theme-black;
        color: $theme-white;
    }
}